body{
    background-color: #FFF9ED;
}
.image-container {
    position: relative;
  }
  
  .plus-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #f4e4ca;
    color: #795F4C;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 20px;
    cursor: pointer;
    z-index: 1;
  
    display: flex;
    align-items: center;
    justify-content: center;
    
    padding: 0;
  }
  
  
  .plus-btn:hover {
    background-color: #795F4C;
    color: #f4e4ca;
  }
  
.title {
    color: #795F4C;
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    text-align: center;
    margin-top: 50px; /* Adjust this to move the title down */
    font-weight: bold;
    background-color: #f4e4ca;
  }
  
.cookie-container, .cupcakes-container, .cakes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 2rem;
    
  }
  
  .card {
    background-color: #f4e4ca;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 200px;
    text-align: center;
    transition: transform 0.2s ease;
    border: 2px solid #f4e4ca;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .card img {
    width: 100%;
    
    height: auto;
    display: block;
  }
  
  .cookie-title, .cupcake-title, .cake-title {
    padding: 1rem 0;
    
    font-size: 1.2rem;
    color: #795F4C;
    font-family: 'Playfair Display', serif;
  }

  @media (max-width: 600px) {

    .cookie-container, .cupcakes-container, .cakes-container {
        padding: 0;
        padding-top: 40px;
        justify-content: center;
      }
    .card{
        width: 40vw;
    }

    .card img{
        height: 200px;
    }
    .cookie-title, .cupcake-title, .cake-title{
        font-size: 20px;
    }
    
  }